.rowScssDP1{
    margin-left: 15px;
}

.conditionimgDP1 {
    text-align: center;
    float: right;
    margin-right: 20%;
    
}

.border_bottom{
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
   
}